*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}



body{
  background:#0f172a;
  color:white;
}

/* Navbar */

header{
  width:100%;
  padding:20px 8%;
  background:#111827;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
 
}

.logo{
  font-size:30px;
  font-weight:bold;
  color:#38bdf8;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:25px;
  transition:0.3s;
}

nav a:hover{
  color:#38bdf8;
}

/* main Section */

.main{
  min-height:100vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:120px 8%;
  flex-wrap:wrap;
}


.main-text h1{
  font-size:60px;
  color:#38bdf8;
  margin:10px 0;
}

.main-text h2{
  font-size:35px;
}

.main-text p{
  margin:20px 0;
  line-height:1.8;
  max-width:600px;
}

.btn{
  display:inline-block;
  padding:14px 35px;
  background:#38bdf8;
  color:black;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
  transition:0.3s;
}

.btn:hover{
  transform:scale(1.1);
  background:white;
}

.main-image img{
  width:350px;
  border-radius:50%;
  border:5px solid #38bdf8;
  
 
}

/* Sections */

section{
  padding:90px 8%;
}

.title{
  text-align:center;
  font-size:40px;
  margin-bottom:50px;
  color:#38bdf8;
}

/* About */

.about-container{
  display:flex;
  align-items:center;
  gap:50px;
  flex-wrap:wrap;
}

.about-container img{
  width:300px;
  border-radius:20px;
}

.about-text{
  flex:1;
}

.about-text p{
  line-height:1.9;
  font-size:18px;
}

/* Skills */

.skills-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.card{
  background:#1e293b;
  padding:35px;
  text-align:center;
  border-radius:20px;
  transition:0.4s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px #38bdf8;
}

.card i{
  font-size:50px;
  margin-bottom:15px;
  color:#38bdf8;
}

/* Projects */

.project-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
}

.project-card{
  background:#1e293b;
  border-radius:20px;
  overflow:hidden;
  transition:0.4s;
}

.project-card:hover{
  transform:scale(1.03);
  box-shadow:0 0 20px #38bdf8;
}

.project-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.project-info{
  padding:20px;
}

/* Contact */

form{
  max-width:700px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:20px;
}

input,
textarea{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#1e293b;
  color:white;
  outline:none;
}

textarea{
  resize:none;
  height:150px;
}

button{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:white;
}

/* Footer */

footer{
  text-align:center;
  padding:20px;
  background:#020617;
}



/* Responsive */

@media(max-width:900px){

  header{
    flex-direction:column;
    gap:15px;
  }

  .main{
    flex-direction:column-reverse;
    text-align:center;
  }

  .main-text h1{
    font-size:45px;
  }

  .main-image img{
    width:250px;
    margin-bottom:30px;
  }

  .about-container{
    flex-direction:column;
    text-align:center;
  }
}